
.top-to-btm{
    position: relative;
}
.icon-position{
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 1110;
}
.icon-style{
    background: rgba(0, 0, 0, .45);
    border-radius: 3px;
    height: 40px;
    width: 40px;
    color: var(--color-white);
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
}
.icon-style:hover{
    animation: none;
    background: rgba(0, 0, 0, .65);
    color: var(--color-red);
}
@keyframes movebtn {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}